---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
Provides details for {{.Name}} {{.Type}}
---
# {{.Name}} ({{.Type}})
{{ .Description | trimspace }}

## Example Usage
{{tffile "examples/resources/loft_space_instance/main.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import
Import is supported using the following syntax:
{{codefile "shell" "examples/resources/loft_space_instance/import.sh"}}